site_name: MyAIAssistant Documentation
site_description: Intelligent Todo and Knowledge Management System
site_url: https://jeromeboyer.net/myaiassistant
repo_url: https://github.com/jbcodeforce/myaiassistant
copyright: Copyright &copy; 2025 - 2026 Jerome Boyer
theme:
  name: material
  palette:
    - scheme: slate
      primary: deep purple
      accent: amber
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
    - scheme: default
      primary: deep purple
      accent: amber
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
  font:
    text: Source Sans Pro
    code: Fira Code
  features:
    - navigation.sections
    - navigation.expand
    - content.code.annotate
    - content.code.annotation
    - content.code.copy
    - content.tooltips
    - content.tabs.link
    - search.suggest
    - search.highlight
    - navigation.instant
    - navigation.instant.progress
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.tracking
    - navigation.sections
    - navigation.expand
    - navigation.top
    - navigation.footer

plugins:
  - search
  - minify:
      minify_html: true
  - mkdocstrings
  - mermaid2

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:mermaid2.fence_mermaid_custom
  - pymdownx.tabbed:
      alternate_style: true
  - admonition
  - pymdownx.details
  - tables
  - toc:
      permalink: true
      toc_depth: 3
nav:
  - Home: index.md
  - User Guide:
      - Overview: user_guide/index.md
      - Getting started (ai_assist CLI): user_guide/getting-started.md
      - Commands: commands.md
  - Implementation:
      - Overview: implementation/index.md
      - Todo Management: implementation/todo.md
      - Knowledge Base: implementation/knowledge.md
      - Meeting Notes: implementation/meetings.md
      - Assets: implementation/assets.md
      - Agent Core: implementation/agent_core.md
      - Agent mgt: implementation/agents.md
      - RAG System: implementation/rag.md
      - Chat: implementation/chat.md
      - Frontend: implementation/frontend.md
  - Deployment:
      - Overview: deployment/index.md
      - Docker: deployment/docker.md
      - Cloud Providers: deployment/cloud.md
      - Configuration: deployment/configuration.md

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/jbcodeforce/myaiassistant
    - icon: fontawesome/brands/linkedin
      link: 'https://linkedin.com/in/jeromeboyer'
